  <div class="show-title-project">
    <h1> <%= @project.title %></h1>
    <h3> <% if @project.region %>
        <%= @project.region %>
      <% else %>
        <%= "" %>
      <% end  %>
    </h3>
    <h4><%= @project.year %></h4>
  </div>

  <div class="project-image">
      <% if @project.photo.attached? %>
        <%= cl_image_tag @project.photo.key, class: "project_img", alt: @project.title, width: 1000, height: 500, crop: "fill", gravity: "auto" %>
      <% else %>
        <%= "" %>
      <% end  %>
  </div>

<div class="description">
  <%= @project.description %>
</div>

  <% regex = /(?:v=)([^&]+)/  %>
  <%  video_url = @project.trailer %>

<% unless @project.trailer.nil? || video_url == "" || video_url == " " %>
  <% project_match = video_url.match(regex) %>
  <div class="booktrailer">
      <iframe width="560" height="315"
      src="https://www.youtube.com/embed/<%= project_match[1] %>"
      title="<%= @project.title %>" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen>
      </iframe>
  </div>
<% end %>

<div class="admin-wrapper">
  <% if user_signed_in? %>
      <%= link_to edit_project_path(@project) do %>
        <h5 class="buy-btn admin">Modificar proyecto</h5>
      <% end %>
      <%= link_to project_path(@project), method: :delete, data: { confirm: '¿Seguro que quieres borrar este proyecto?' } do %>
        <h5 class="buy-btn admin">Borrar proyecto</h5>
      <% end %>
    <% else %>
    <div></div>
  <% end %>
</div>

<% content_for :meta_title, "#{@project.title} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @project.description %>
<% content_for :meta_image, cl_image_path(@project.photo.key) %>
