<h2 class="title">Modificar libro</h2>

<div class="input-wrapper">
  <div class="input">
    <%= simple_form_for (@book) do |p| %>
      <%= p.input :title, placeholder: 'Al encuentro de las Tres Marías', label: 'Título del libro' %>
      <%= p.input :subtitle, placeholder: 'Juana de Ibarbourou más allá del mito', label: 'Subtítulo del libro' %>
      <%= p.input :description, as: :rich_text_area, placeholder: 'Solapa del libro', label: 'Descripción' %>
      <%= p.input :year, placeholder: '2021', label: 'Año de publicación' %>
      <%= p.input :booktrailer, placeholder: 'Solo funciona YouTube', label: 'Trailer del libro' %>
      <%= p.input :ebook_link, placeholder: 'Link del eBook', label: 'Link de eBook' %>
      <%= p.input :link, placeholder: 'Link para comprarlo', label: 'Link para comprarlo' %>
      <%= p.input :photo, as: :file, required: false, label: 'Tapa del libro' %>
      <%= p.input :cover, as: :file, required: false, label: 'Foto para fondo' %>
     <div class="end"><%= p.submit 'Modificar libro', class: "btn" %> </div>
    <% end %>

  </div>
</div>
