<h2 class="title">Libros</h2>
<div class="everything">
  <div class="container">
    <% @books.reverse.each do |book| %>
      <%= link_to book_path(book) do %>
          <div class="mobile-layout">
            <div class="book-cover">
                <div class="">
                  <% if book.photo.attached? %>
                  <%= cl_image_tag book.photo.key, class: 'book-top' %>
                  <% else %>
                  <%= "" %>
                  <% end  %>
                  </div>
                <img class="book-side" src="https://saranyamk.github.io/images-repo/book-side.svg" alt="book-side" />
            </div>
            <div class="preface">
              <div class="content">
                <div class="header">
                  <div class="book_title"><%= book.title %></div>
                  </div>
                </div>
                <div class="year"><%= book.year %></div>
                <div class="body">
                </div>
              </div>
            </div>
      <% end %>
    <% end %>
  </div>
</div>
