
<div class="libro">
  <span></span>
  <% if @book.photo.attached? %>
    <%= cl_image_tag @book.photo.key, class: 'libro-img', alt: @book.title %>
  <% else %>
    <%= "" %>
  <% end  %>
</div>




<%= @book.title %>
<%= @book.year %>
<%= sanitize @book.description %>
