<div class="cover" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @book.cover.key, height: 300, crop: :fill %>')"></div>

<div class="show-banner">
    <div class="libro">
      <span></span>
      <% if @book.photo.attached? %>
        <%= cl_image_tag @book.photo.key, class: 'libro-img', alt: @book.title, width: 375, height: 269, crop: "scale" %>
      <% else %>
        <%= "" %>
      <% end  %>
    </div>

  <div class="show-title">
    <h1> <%= @book.title %></h1>
    <h3> <% if @book.subtitle %>
        <%= @book.subtitle %>
      <% else %>
        <%= "" %>
      <% end  %>
    </h3>
    <h4><%= @book.year %></h4>
    <div class="btn">
    <% if @book.link %>
      <a class="buy-btn" href="<%= @book.link %>"><h5>Comprar</h5></a>
    <% else %>
      <h5 class="buy-btn" style="pointer-events: none; cursor: not-allowed;">No disponible</h5>
    <% end %>
  </div>
  </div>
</div>

<div class="description">
  <%= @book.description %>
</div>

  <% regex = /(?:v=)([^&]+)/  %>
  <% video_url = @book.booktrailer %>

<% unless video_url.nil? || video_url == "" || video_url == " " %>
<% video_match = video_url.match(regex) %>
  <div class="booktrailer">
      <iframe width="560" height="315"
      src="https://www.youtube.com/embed/<%= video_match[1] %>"
      title="<%= @book.title %> Book Trailer" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen>
      </iframe>
  </div>
<% end %>


<div class="admin-wrapper">
  <% if user_signed_in? %>
      <%= link_to edit_book_path(@book) do %>
        <h5 class="buy-btn admin">Modificar libro</h5>
      <% end %>
      <%= link_to book_path(@book), method: :delete, data: { confirm: '¿Seguro que quieres borrar este libro?' } do %>
        <h5 class="buy-btn admin">Borrar libro</h5>
      <% end %>
    <% else %>
    <div></div>
  <% end %>
</div>

<% content_for :meta_title, "#{@book.title} de #{DEFAULT_META["meta_product_name"]} || Sitio web oficial" %>
<% content_for :meta_description, @book.description.to_plain_text  %>
<% content_for :meta_image, cl_image_path(@book.photo.key) %>
