<div class="cover" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @book.cover.key, height: 300, crop: :fill %>')"></div>

<div class="show-banner">
    <div class="libro">
      <span></span>
      <% if @book.photo.attached? %>
        <%= cl_image_tag @book.photo.key, class: 'libro-img', alt: @book.title %>
      <% else %>
        <%= "" %>
      <% end  %>
    </div>

  <div class="show-title">
    <h1> <%= @book.title %></h1>
    <h3> <% if @book.subtitle %>
        <%= @book.subtitle %>
      <% else %>
        <%= "" %>
      <% end  %>
    </h3>
    <h4><%= @book.year %></h4>
    <div class="btn">
    <% if @book.link %>
      <a class="buy-btn" href="<%= @book.link %>"><h5>Comprar</h5></a>
    <% else %>
      <h5 class="buy-btn" style="color: #7D8597">No disponible</h5>
    <% end %>
  </div>
  </div>
</div>

<div class="description">
  <%= sanitize @book.description %>
</div>
