  <div class="show-title-project">
    <h1> <%= @post.title %></h1>
    <h4><%= @post.date %></h4>
    <div class="btn middle">
    <% if @post.reference %>
      <a class="buy-btn" href="<%= @post.reference %>"><h5>Ver publicación original</h5></a>
    <% else %>
      ''
    <% end %>
  </div>
  </div>

<div class="description">
  <%= @post.content %>
</div>

<div class="admin-wrapper">
  <% if user_signed_in? %>
      <%= link_to edit_post_path(@post) do %>
        <h5 class="buy-btn admin">Modificar noticia</h5>
      <% end %>
      <%= link_to post_path(@post), method: :delete, data: { confirm: '¿Seguro que quieres borrar este proyecto?' } do %>
        <h5 class="buy-btn admin">Borrar noticia</h5>
      <% end %>
    <% else %>
    <div></div>
  <% end %>
</div>
