  <div class="show-title-project">
    <h1> <%= @post.title %></h1>
    <h4><%= @post.date %></h4>
    <div class="btn middle">
    <% if @post.reference %>
      <a class="buy-btn" href="<%= @post.reference %>"><h5>Ver publicación original</h5></a>
    <% else %>
      ''
    <% end %>
  </div>
  </div>

<div class="description">
  <%= @post.content %>
</div>

  <% regex = /(?:v=)([^&]+)/  %>
  <% video_url = @post.youtube_url %>

<% unless video_url.nil? || video_url == "" || video_url == " " %>
<% video_match = video_url.match(regex) %>
  <div class="booktrailer">
      <iframe width="560" height="315"
      src="https://www.youtube.com/embed/<%= video_match[1] %>"
      title="<%= @post.title %>" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen>
      </iframe>
  </div>
<% end %>

<div class="admin-wrapper">
  <% if user_signed_in? %>
      <%= link_to edit_post_path(@post) do %>
        <h5 class="buy-btn admin">Modificar noticia</h5>
      <% end %>
      <%= link_to post_path(@post), method: :delete, data: { confirm: '¿Seguro que quieres borrar este proyecto?' } do %>
        <h5 class="buy-btn admin">Borrar noticia</h5>
      <% end %>
    <% else %>
    <div></div>
  <% end %>
</div>

<% content_for :meta_title, "#{@post.title} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @post.content.to_plain_text %>
