<!DOCTYPE html>
<html>
  <head>
    <title>Diego Fischer - Periodista y Escritor</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body style="margin-top: 150px;">
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <div style="max-width: 1000px; margin: auto;">
      <%= yield %>
    </div>
  </body>
</html>
